@font-face {
  font-family: 'Inter';
  src: url('Fonts/Inter-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
body{
  /* Optional: if you want to add background image like the second image */

  background-repeat: no-repeat;
  background-color: hsl(210,2%,83%);
  background-size: 150vh;
  background-position: right top;
  font-family: 'Inter';
  font-size: x-large;
  
}

.table-container {

  text-align: center;
  margin: auto;
  margin-bottom: 20%;
  padding: 30px;
  border: 1px solid #ccc; /* This creates the outer box */
  border-radius: 80px; /* Rounded corners for the outer box */
  width: fit-content; /* Fits the table width */
  background-color: hsla(0, 0%, 69%, .69); /* Optional: transparent white background */
  /* background-color: rgba(217, 217, 217, 0.5);  */
}

table {
  border-collapse: separate; /* Allows for space between the inner cells */
  border-spacing: 10px; /* Adjust this for spacing between cells */
  margin: 0 auto;
}

th, td {
  border: 1px solid #ccc; /* Border for each cell */
  border-radius: 20px;
  height: 75px;
  width: 200px;
  text-align: center;
}
.days{
  background-color: rgba(163, 163, 163, 0.8);
}
.day{
  background-color: rgba(163, 163, 163, 0.8);

}
td{
  background-color: azure;
  font-size: medium;
}
@media screen and (max-width: 800px) {
  body {
    font-size: 1.5rem; 
  }

  .table-container {
    padding: 20px; /* Adjusted padding for mobile */
  }

  th, td {
    height: 50px; 
    font-size: 1rem; 
    padding: 8px; 
  }

  table {
    min-width: 300px; 
  }

  .styled-button {
    width: 100%; 
    padding: 15px; 
    font-size: 1.2rem; 
  }
}